@model IEnumerable<ET.Models.Movie>
@{
    ViewBag.Title = "MovieAdd";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Create a new movie</h4>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                @using (Html.BeginForm("MovieAdd2", "Management", FormMethod.Post))
                {
                    <div class="form-group text-center">
                        <img id="ProfilePicturePreview" class="border-info rounded-circle" style="max-width: 150px" />
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label"></label>
                        <input type="text" required name="name" placeholder="Movie name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="description" class="control-label"></label>
                        <input type="text" required name="description" placeholder="description" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="price" class="control-label"></label>
                        <input type="text" required name="price" placeholder="Price" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="imageURL" class="control-label"></label>
                        <input type="text" required name="imageURL" placeholder="Movie picture link" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="startDate" class="control-label"></label>
                        <input type="text" required name="startDate" placeholder="Start date" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="endDate" class="control-label"></label>
                        <input type="text" required name="endDate" placeholder="End date" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="category" class="control-label"></label>
                        <input type="text" required name="category" placeholder="Movie Category" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="price" class="control-label"></label>
                        @Html.DropDownList("cinemaName", null, "Select Cinema");
                        @*<input type="text" required name="price" placeholder="Price" class="form-control" />*@
                    </div>
                    <div class="form-group">
                        <label for="price" class="control-label"></label>
                        @Html.DropDownList("producerName", null, "Select Producer");
                    </div>
                    <div class="form-group">
                        <label for="price" class="control-label"></label>
                        @Html.DropDownList("actorName", null, "Select Actor");
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Add" class="btn btn-outline-success float-right" />
                    </div>

                }

            </div>
        </div>

    </div>
</div>

